<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcl.dao.FloorMapper">

    <!--查询所有的楼层列表-->
    <select id="findFloorList" resultType="com.zcl.entity.floor">
        select *
        from t_floor
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!--添加楼层数据-->
    <insert id="addFloor">
        insert into t_floor (name, remark)
        values (#{name}, #{remark});
    </insert>

    <!--修改楼层数据-->
    <update id="updataFloor">
        update t_floor
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--根据楼层id查询房间-->
    <select id="judgeFloor" resultType="java.lang.Integer">

    </select>

    <!--根据楼层id删除楼层-->
    <delete id="deleteFloor">
        delete
        from t_floor
        where id = #{id};
    </delete>
</mapper>