<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcl.dao.RoomMapper">
    <!--根据房间id查看房间详情-->
    <select id="findById" resultType="com.zcl.entity.Room">
        select t1.*,t2.typeName,t2.price,t2.bedNum,t3.name
        from t_room t1
                 inner join t_room_type t2 on t2.id = t1.roomtypeId
                 inner join t_floor t3 on t3.id = t1.floorid
        where t1.id = #{id};
    </select>

    <!--查询房间列表-->
    <select id="findRoomList2" resultType="com.zcl.entity.Room">
        select t1.*, t2.typeName, t2.price
        from t_room t1
                 inner join t_room_type t2 on t2.id = t1.roomtypeId;
    </select>

    <!--删除房间数据-->
    <delete id="deleteRoom">
        delete
        from t_room
        where id = #{id};
    </delete>

    <!--修改房间数据-->
    <update id="updateRoom">
        update t_room
        <set>
            <if test="photo!=null and photo != ''">
                photo = #{photo},
            </if>
            <if test="roomnum!=null">
                roomnum = #{roomnum},
            </if>
            <if test="floorid!=null">
                floorid = #{floorid},
            </if>
            <if test="roomtypeid!=null">
                roomtypeId = #{roomtypeid},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="roomdesc!=null and roomdesc != ''">
                roomdesc = #{roomdesc},
            </if>
            <if test="roomrequirement!=null and roomrequirement != ''">
                roomrequirement = #{roomrequirement},
            </if>
            <if test="remark!=null and remark != ''">
                remark = #{remark}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--添加房间数据-->
    <insert id="addRoom">
        insert into t_room (photo, roomnum, floorid, roomtypeId, status, roomdesc, roomrequirement, remark)
        values (#{photo}, #{roomnum}, #{floorid}, #{roomtypeid}, #{status}, #{roomdesc}, #{roomrequirement}, #{remark});
    </insert>

    <!--查询所有房间列表数据-->
    <select id="findRoomList" resultType="com.zcl.entity.Room">
        SELECT t1.*,t2.typeName,t2.price,f.name FROM t_room t1
        INNER JOIN t_room_type t2 on t1.roomTypeId = t2.id
        INNER JOIN t_floor f on f.id = t1.floorid
        <where>
            <if test="roomnum !=null and roomnum != ''">
                and t1.roomnum like concat('%',#{roomnum},'%')
            </if>
            <if test="roomtypeid !=null">
                and t1.roomtypeId = #{roomtypeid}
            </if>
            <if test="floorid !=null">
                and t1.floorid = #{floorid}
            </if>
            <if test="status !=null">
                and t1.status = #{status}
            </if>
        </where>
        order by id
    </select>

</mapper>